#test {
   background-color: #00fa9a;
   fill: #ff0800;

}
.chart-wrapper {
   background: black;
   color: #ffff00;
}

.chart-title {
   background: #1a1110;
   color: #ffff00;
}

.chart-wrapper
.chart-title {
   background: #1a1110;
   color: #ffff00;
}


.dc-chart g.row text {
   color: #ffff00;
   font-size: 60px;
   background-color: #1a1110;
}

.dc-chart g.row text {
   color: #ffff00;
   font-size: 60px;
   background-color: #1a1110;
}
select.dc-select-menu  {
   background-color: #1a1110;
}

.intro_button {
   background-color: #00fa9a;
   font-size: 20px;
}
.navbar-header {
   color: #1a1110;
}


.dc-chart g.row text {
   color: #ffff00;
   font-size: 12px;
   background-color: #1a1110;
}

.dc-chart g.row text {
   color: #ffff00;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
   background-color: #1a1110;
}

.dc-chart g.row text {
   color: #ffff00;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
   background-color: #1a1110;
}


.dc-chart g.row text   {
   color: #ffff00;
   width: 80%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;
   background-color: #1a1110;
}

.number-display {
   background-color: #1a1110;
   color: #ffff00;

}