#test {
   background-color: #1d2951;
   fill: #ff0800;

}
.chart-wrapper {
   background: #006a4e;
   color: #ffff00;
}

.chart-title {
   background: #006a4e;
   color: #ffff00;
}

.chart-wrapper
.chart-title {
   background: #006a4e;
   color: #ffff00;
}


.dc-chart g.row text {
   color: #ffff00;
   font-size: 60px;
   background-color: #006a4e;
}

.dc-chart g.row text {
   color: #ffff00;
   font-size: 60px;
   background-color: #006a4e;
}
select.dc-select-menu  {
   background-color: #1d2951;
}

.intro_button {
   background-color:#ff0800;
   font
}
.dc-navbar-brand {
   color: #ff0800;
}


.dc-chart g.row text {
   color: #ffff00;
   font-size: 12px;
   background-color: #006a4e;
}

.dc-chart g.row text {
   color: #ffff00;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}

.dc-chart g.row text {
   color: #ffff00;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}


.dc-chart g.row text   {
   color: #ffff00;
   width: 80%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;

}